

/* ==========  main part ============= */
.pending-appoint-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 90vw;
}

.pending-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  width: 100%;
  height: 110px;
}
.search-bar {
  width: 40%;
}
.search-bar input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #f5f6fa;
  width: 60%;
  margin-left: 7%;
}

.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.notification {
  position: relative;
  margin-right: 15px;
  cursor: pointer;
}

.notification .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.user-info {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.user-info p {
  margin: 0;
}

.user-info .role {
  font-size: 12px;
  color: gray;
}
.user-info img {
  height: 40px;
  width: 40px;
}

/* ==========  data section =========== */

.pending-item1 {
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    padding: 0.5vw;
    font-weight: bolder;
    align-self: flex-start;
    padding-left: 1.5vw;
  }
}
.pending-item-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-radius: 20px;
  padding: 1vw;
  margin-bottom: 20px;
  background-color: #F5F6FA;
  align-items: center;

  p {
    font-weight: bold;
  }
 
}
.stock-item-parent {
  width: 100%;
  height: 80vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.stock-item-parent::-webkit-scrollbar{
  display: none;
}
.pending-services {
  width: 12%;
  text-align: center;
  font-weight: 600;

}
.pending-detailsCard {
  width: 100%;
}
.pending-map{
  display: flex;
  padding: 20px 0px;
  font-weight: 500;
  border-bottom: 1px solid rgba(163, 161, 161, 0.126);
  justify-content: space-around;
  width: 100%;
   .stock-price{
    text-align: left;
  }
}
.pending-mapChilds {
 width: 12%;
}
.cancel-pending-btn{
  color: white;
  font-weight: 300;
  height: max-content;
    border-radius: 20px;
    width: 80px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    padding: 10px 20px;
}
.confirm-pending-btn{
    border-radius: 20px;
    width: 80px;
    background-color: #0096ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    text-align: center;
    color: white;
   margin-right: 40px;
   padding: 10px 20px;

}
.assign-pending-btn{
    border-radius: 20px;
    background-color: rgba(255, 200, 0, 0.682);
    width: 140px;
    padding: 10px 20px;
   margin-right: 40px;
   margin-left: -40px;
  height: max-content;
}


.assign-pending-btn select {
   width: 100%; /* Ensures the select takes the full width of its container */
    padding: 5px; /* Adds a bit of padding for better appearance *//* Adjusts the font size to match the design */

    cursor: pointer;
    background-color: rgba(255, 200, 0, 0);
}

.pending-mapChilds {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pending-mapChilds select:focus {
    outline: none; 
    background-color: rgba(255, 200, 0, 0);
    width: 100%;
}
