@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
#Top {
  width: 95%;
  position: relative;
  left: 2.5%;
  display: flex;

  justify-content: space-around;
  
  p{
     
  }
}

#card {
  transition: background-color 0.4s ease;
  transition: border-color 0.4s ease;
}
#card:hover {
  background-color: #f1f1f1;
  border-color: #dad8d8;
}
.scroll {
  overflow: auto;
}

.parent {
  overflow: scroll;
}
.btn {
  background-color: #fff; /* initial background color */
  color: #333; /* initial text color */
  transition: background-color 0.6s ease-out, color 0.6s ease-out; /* transition for both background and text color */
  position: relative; /* add this to enable absolute positioning for the pseudo-element */
}

.btn:hover {
  background-color: #3c3a3a; /* final background color */
  color: #e8e5e5; /* final text color */
  scale: 1.04;
}
.main {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
#main2{
    flex-shrink: 1;
    height: 100vh;
  }
#main3{
    display: flex;
    justify-content: end;
    align-items: center;
   
}
.img-div {
  display: flex;
  align-items: end;
}

.rightimg {
  border-radius: 20px;
  transition: box-shadow 0.3s ease;
  height: 70vh;
}
.rightimg:hover {
  box-shadow: 3px 3px 2px #989797, -3px -3px 2px #989797;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;

  scale: 1.04;
}
::-webkit-scrollbar {
  width: 0;
}
@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
   
  }
 
  #main3 {
    justify-content: flex-end;
    flex-grow: 1;
  }
 
}
@media (max-width: 1200px) {
  .main {
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    gap: 5vw;
  }
  #main2{
    flex-shrink: 1;
  }
  #main3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
}
